@import 'base.less';
@import 'prosemirror.less';
@import 'toolbar.less';

#editor {
    position: relative;

    .tooltip {
        cursor: pointer;
        position: absolute;
        z-index: 20;
        background: rgba(0, 0, 0, 0.6);
        color: rgba(255, 255, 255, 1);
        border-radius: 2px;
        padding: 2px 10px;
        margin-bottom: 7px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}