* {
	-webkit-font-smoothing: antialiased;
	font-family: 'Inter', sans-serif;
}

html {
	background: rgba(255, 255, 255, 1);
	// padding: 50px;
	margin: 0;

	body {
		margin: 0;

		#pages {
			padding-top: 100px;

			.page {
				background: rgba(255, 255, 255, 1);
				margin: 0 auto;
	
				.lineWrapper {
					padding: 0 300px;
					// &.filled {
					// 	.translationInputLine {
					// 		height: 18px;
					// 		padding: 12px;
					// 	}
	
					// 	&:hover {
					// 		.translationInputLine {
					// 			opacity: 1;
					// 			background: rgba(0, 0, 0, 0.03);
					// 		}
					// 	}
					// }
	
					&.filled {
						.inputLine {
	
						}
					}
	
					.inputLine {
						width: 100%;
						outline: none;
						border: none;
						font-size: 24px;
						padding: 8px 0;
					}
		
					.translationInputLine {
						width: 100%;
						outline: none;
						border: none;
						color: rgba(0, 0, 0, 0.7);
						border-radius: 12px;
						height: 0;
						padding: 0;
						font-size: 0;
						opacity: 0;
						float: left;
						transition: 0.2s opacity;
	
						&.filled {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}