* {
	-webkit-font-smoothing: antialiased;
	font-family: 'Inter', sans-serif;
}

html {
	background: rgba(255, 255, 255, 1);
	// padding: 50px;
	margin: 0;

	body {
		margin: 0;

		#pages {
			padding-top: 100px;

			.page {
				background: rgba(255, 255, 255, 1);
				margin: 0;
				cursor: text;
	
				.lineWrapper {
					@lineHeight: 32px;
					position: relative;
					height: @lineHeight;
					width: 100%;

					// &.filled {
					// 	.translationInputLine {
					// 		height: 18px;
					// 		padding: 12px;
					// 	}
	
					// 	&:hover {
					// 		.translationInputLine {
					// 			opacity: 1;
					// 			background: rgba(0, 0, 0, 0.03);
					// 		}
					// 	}
					// }
	
					&.filled {
						.inputLine {
	
						}
					}

					.lineBackground {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						z-index: 0;
					}
	
					.inputLine {
						position: absolute;
						width: 100%;
						height: @lineHeight;
						outline: none;
						border: none;
						font-size: 24px;
						vertical-align: middle;
						padding: 0 8px;
						z-index: 1;
						width: 50%;
						margin-left: 50%;
						left: -25%;
					}
		
					.translationInputLine {
						width: 100%;
						outline: none;
						border: none;
						color: rgba(0, 0, 0, 0.7);
						border-radius: 12px;
						height: 0;
						padding: 0;
						font-size: 0;
						opacity: 0;
						float: left;
						transition: 0.2s opacity;
	
						&.filled {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}